.bv-undrbar{
  margin-top: 10px
}
.bv-undrbar a{
  padding: 11px 0;
  font-weight: 600;
  font-size: 14px;
}

.bv-undrbar a:hover, .bv-undrbar a:focus, .bv-undrbar a:active, .bv-undrbar a.highlighted{
 padding: 11px 0;
}

.bv-undrbar a:before, .bv-undrbar a:after {
  content: "";
  /*position: absolute;*/
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #cc0000;
}
.bv-undrbar a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.bv-undrbar a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.bv-undrbar a:hover:before, .bv-undrbar a:hover:after, .bv-undrbar a:focus:before, .bv-undrbar a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.bv-undrbar a:hover:before, .bv-undrbar a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.bv-undrbar a:hover:after, .bv-undrbar a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

